[submodule "cartridge/tom-kicad"]
	path = supercon2019/cartridge-pmod3/tom-kicad
	url = git@github.com:TomKeddie/tom-kicad.git
[submodule "cartridge/HDMI2USB-numato-opsis-hardware"]
	path = supercon2019/cartridge-pmod3/HDMI2USB-numato-opsis-hardware
	url = https://github.com/timvideos/HDMI2USB-numato-opsis-hardware.git
[submodule "nmigen/litex"]
	path = supercon2019/nmigen/litex
	url = git@github.com:TomKeddie/litex.git
[submodule "litex/haddecks"]
	path = supercon2019/litex/haddecks
	url = git@github.com:TomKeddie/haddecks.git
